.modal-span-error {
    width: 100%;
    padding: 5px 0;
    color: #e3342f
}

.member-status .status-condition p span {
    text-align: center;
}

.member-status .status-condition p i.icon-plus {
    color: #EABD37;
    font-size: 17px;
    cursor: pointer;
}

.member-status .status-condition p i.icon-plus:hover {
    color: #79818C;
}

.member-data .text {
    border-radius: 5px;
    padding: 5px 5px 5px 12px;
    margin-left: 5px;
}

.chat-list li.active .text {
    background-color: #f0f1f2;
}

.chat-list li:hover {
    cursor: pointer;
}

.chat-list li:hover .text {
    background-color: #f0f1f2;
}

.profile-error-text {
    color: #e3342f
}


.switcher-wrap {
    cursor: pointer;
}
